@model IEnumerable<MvcCorePaginacionRegistros.Models.Empleado>

@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}
@{
    int numeroregistros = (int)ViewBag.REGISTROS;
    int numeropagina = 1;
}

<h1 style="color: blue">Paginar Grupo Empleados</h1>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroregistros; i += 5)
    {
        <li class="list-group-item list-group-item-primary">
            <a asp-action="PaginarGrupoEmpleados"
               asp-controller="Paginacion"
               asp-route-posicion="@i">
                @numeropagina
            </a>
        </li>
        numeropagina += 1;
    }
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
