@model List<Empleado>
@{
    ViewData["Title"] = "PaginarGrupoEmpleadosOficio";
}
@{
    int numeroregistros = 0;
    string oficio = "";
    int numeropagina = 1;
    if (ViewBag.REGISTROS != null)
    {
        numeroregistros = (int)ViewBag.REGISTROS;
        oficio = ViewBag.OFICIO.ToString();
    }
}
@*FILTRO DE BÚSQUEDA POR OFICIO*@
<div class="text-right form-inline">
    <form method="post">
        <div class="form-group">
            <input type="text" name="oficio" required/>
        </div>
        <br/>
        <button class="btn btn-primary">Buscar</button>
    </form>
</div>
<h1 style="color: fuchsia">Paginar Grupo Empleados Oficio</h1>

@if (Model!=null){
<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroregistros; i += 3)
    {
        <li class="list-group-item list-group-item-primary">
            <a asp-action="PaginarGrupoEmpleadosOficio"
               asp-controller="Paginacion"
               asp-route-posicion="@i"
                asp-route-oficio="@oficio">
               Pag @numeropagina
            </a>
        </li>
        numeropagina += 1;
    }
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Numero empleado</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Direccion</th>
            <th>Fecha de alta</th>
        </tr>
    </thead>
    @foreach (Empleado emp in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => emp.EmpNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Oficio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Dir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.FechaAlta)
                </td>
            </tr>
        </tbody>
    }
</table>
}